#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500; /* cao hơn logo và menu */
}

.lightbox-content {
  position: relative;
}

.lightbox-content img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 10px;
}

.lightbox-content .close {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
